@model IEnumerable<outletnerd.Models.Produto>

@{
    ViewData["Title"] = "Cadastro de Produtos";
}

<h1>Cadastro</h1>
<h4>Produtos</h4>
<hr />

<div class="d-gridC">
    <div class="colC">
        <form asp-controller="Funcionario" asp-action="CadastrarP" method="post">

            <div class="form-groupC">
                <input name="Nome" class="form-controlC" placeholder="Nome" />
            </div>

            <div class="form-groupC">
                <input name="Descricao" class="form-controlC" placeholder="Descrição" />
            </div>

            <div class="form-groupC">
                <input name="Preco" class="form-controlC" placeholder="Preço" />
            </div>

            <div class="form-groupC">
                <input name="ImageUrl" class="form-controlC" placeholder="URL da Imagem" />
            </div>

            <div class="form-groupC">
                <input name="Quantidade" class="form-controlC" placeholder="Quantidade" />
            </div>

            <div class="form-groupC">
                <input name="Categoria" class="form-controlC" placeholder="Categoria" />
            </div>

            <div class="form-groupC">
                <button type="submit" class="btn-login2">Cadastrar</button>
            </div>

        </form>

    </div>
</div>
<!--<form asp-controller="Produto" asp-action="Excluir" method="post">
    <button type="submit" class="btn-primary">Excluir</button>
</form>-->


<a asp-controller="Home" asp-action="Index">Voltar</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}