@model outletnerd.Models.Funcionario
@{
    ViewData["Title"] = "Cadastro de Funcionário/Membro da empresa";
}
<div class="text-center">
    <header>

        <nav class="navbar-murph">

            <div class="logo">
                <a class="navbar-logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/outlet.png" /></a>
            </div>
            <div class="search-bar">
                <form method="get" action="@Url.Action("Index", "YourController")">
                    <div class="input-group">
                        <!--<button type="submit" class="btn-busca">Buscar</button>-->

                        <div class="asearch-container">
                            <input type="text" name="searchTerm" class="busca" placeholder="O que você está procurando?" />
                            <img src="~/img/lupa.png" alt="Buscar" class="search-icon" />
                        </div>

                    </div>
                </form>
            </div>


            <div class="nav_btn">
                <a asp-controller="Carrinho" asp-action="Index" class="navbar-icon1"><img src="~/img/carrinho.png" /></a>
                <a asp-controller="Cliente" asp-action="CadastrarC" class="navbar-icon2"><img src="~/img/usericon.png" /> </a>
            </div>

        </nav>

        <div class="navbar-categorias">
            <div class="navbar-cat">
                <ul>
                    <li class="itemMenu"><a asp-controller="Cliente" asp-action="CadastrarC">Cadastro de Clientes</a></li>
                    <li class="itemMenu"><a asp-controller="Cliente" asp-action="Login">Login de Clientes</a></li>
                    <li class="itemMenu"><a asp-controller="Funcionario" asp-action="Login">Login de Administradores</a></li>
                </ul>
            </div>

        </div>
<h1 class="CdC">Login de Membros e Administradores</h1>
<div class="d-gridC">
    <div class="colC">
        <form asp-controller="Funcionario" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-groupC">
                <input asp-for="Email" class="form-controlC" placeholder="E-mail do funcionário" />
            </div>
            <div class="form-groupC">
                        <input asp-for="Senha" class="form-controlC" type="password" placeholder="Senha do funcionário" />
            </div>
            <div class="form-groupC">
                <input type="submit" value="Login" class="btn-loginF" />
            </div>
        </form>
    </div>
</div>