@{

}
<div class="text-center">
    <header>

        <nav class="navbar-murph">

            <div class="logo">
                <a class="navbar-logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="img/outlet.png"</img></a>
            </div>
            <div class="search-bar">
                <form method="get" action="@Url.Action("Index", "YourController")">
                    <div class="input-group">
                        <!--<button type="submit" class="btn-busca">Buscar</button>-->
                        
                        <div class="search-container">
                            <input type="text" name="searchTerm" class="busca" placeholder="O que você está procurando?" />
                            <img src="~/img/lupa.png" alt="Buscar" class="search-icon" />
                        </div>
                        
                    </div>
                </form>
            </div>


            <div class="nav_btn">
                <a class="navbar-icon1"><img src="~/img/carrinho.png"></a>
                <a class="navbar-icon2"><img src="~/img/usericon.png"> </a>
            </div>

        </nav>

        <div class="navbar-categorias">
            <div class="navbar-cat">
                <ul>
                    <li class="itemMenu"><a href="#">Decorações</a></li>
                    <li class="itemMenu"><a href="#">Brinquedos</a></li>
                    <li class="itemMenu"><a href="#">Livros e Mangás</a></li>
                    <li class="itemMenu"><a href="#">Roupas</a></li>
                </ul>
            </div>

        </div>
    </header>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - outletnerd - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</div>
