@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model outletnerd.Models.Cliente
@{
    ViewData["Title"] = "Cadastro";
}
<div class="text-center">
    <header>

        <nav class="navbar-murph">

            <div class="logo">
                <a class="navbar-logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/outlet.png" /></a>
            </div>
            <div class="search-bar">
                <form method="get" action="@Url.Action("Index", "YourController")">
                    <div class="input-group">
                        <!--<button type="submit" class="btn-busca">Buscar</button>-->

                        <div class="asearch-container">
                            <input type="text" name="searchTerm" class="busca" placeholder="O que você está procurando?" />
                            <img src="~/img/lupa.png" alt="Buscar" class="search-icon" />
                        </div>

                    </div>
                </form>
            </div>


            <div class="nav_btn">
                <a asp-controller="Carrinho" asp-action="Index" class="navbar-icon1"><img src="~/img/carrinho.png" /></a>
                <a asp-controller="Cliente" asp-action="CadastrarC" class="navbar-icon2"><img src="~/img/usericon.png" /> </a>
            </div>

        </nav>

        <div class="navbar-categorias">
            <div class="navbar-cat">
                <ul>
                    <li class="itemMenu"><a asp-controller="Cliente" asp-action="CadastrarC">Cadastro de Clientes</a></li>
                    <li class="itemMenu"><a asp-controller="Cliente" asp-action="Login">Login de Clientes</a></li>
                    <li class="itemMenu"><a asp-controller="Funcionario" asp-action="Login">Login de Administradores</a></li>
                </ul>
            </div>

        </div>
<h1 class="CdC">Cadastro de Clientes</h1>
<div class="d-gridC">
        <div class="colC">

                <form asp-controller="Cliente" asp-action="CadastrarC" method="post">
                    <div class="form-groupC">
                    <input asp-for="Nome" class="form-controlC" placeholder="Nome de usuário" />
                </div>
                <div class="form-groupC">
                    <input asp-for="Telefone" class="form-controlC" placeholder="Telefone" />
                </div>
                <div class="form-groupC">
                    <input asp-for="Email" class="form-controlC" placeholder="Email" />
                </div>
                <div class="form-groupC">
                    <input asp-for="Senha" type="password" class="form-controlC" placeholder="Senha" />
                </div>
                <div class="form-groupC" style="text-align:center;">
                <input type="submit" class="btn-login" value="Cadastrar" />
                </div>
            </form>
        </div>
    </div>
        <footer>

            <h2>© OUTLETNERD - TODOS OS DIREITOS RESERVADOS - 2025</h2>
            <img src="~/img/outlet.png">
            <h2>AV. DOUTOR ASSIS RIBEIRO, Nº14398, SP, SÃO PAULO</h2>


        </footer>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}