<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - outletnerd</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/outletnerd.styles.css" asp-append-version="true" />
</head>
<body>
    <header>                 

        <nav class="navbar-murph">
 
                <div class="logo">
                <a class="navbar-logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="img/outlet.png"</img></a>
                </div>
                <div class="search-bar">
                    <form method="get" action="@Url.Action("Index", "YourController")">
                        <div class="input-group">
                            <input type="text" name="searchTerm" class="busca" placeholder="   Já tem algo em mente?"/>
                            <button type="submit" class="btn-busca">Buscar</button>
                        </div>
                    </form>
                </div>

                
                <div class="nav_btn">
                <a class="navbar-icon1"><img src="~/img/carrinho.png" ></a>
                <a class="navbar-icon2"><img src="~/img/usericon.png"> </a>
                </div>

        </nav>

        <div class="navbar-categorias">
            <div class="navbar-cat">
                <ul>
                    <li> <a href="#">decoracoes</a>  </li>
                    <li><a href="#">brinquedos</a></li>
                    <li><a href="#">Livros e mangas</a></li>
                    <li><a href="#">Roupas</a></li>
                </ul>
            </div>

        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - outletnerd - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
