

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  max-height: 100%;
}
/*.card-img-top{
    width:32%;
}*/
body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.navbar-murph {
    background-color: darkred;
    display: flex;
    width: 100%!important;
    height: 10vh;
    justify-content: space-between; /* Aligns items horizontally in the center */
    align-items: center; /* Aligns items vertically in the center */
    /*TEM QUE USAR POSITION: FIXED NAS DIVS*/ 
    z-index: 1000;
    box-sizing: border-box;
}

.navbar-murph img{
    width:60px;
    height:60px;
    margin:30px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
}
.nav_btn {
    display: flex;
    margin-top: 1vw;
    row-gap: 1px;

    justify-content: right;

    width: 500vw;
    height: 130px;
}


.asearch-container {
    display: flex;
    align-items: center;
}

.search-icon {
    display: flex;
    width: 25px !important;
    height: 25px !important;
    margin-left: 20vw !important;
    position: absolute;
}

.busca {
    width: 450px;
    flex: 1;
    height: 50px; 
    border: none; 
    border-radius: 30px; 
    background-color: white; 
    color: #333; 
    font-size: 16px;
    outline: none;
    margin-right: 10%;
}
input{
    padding-left:15px;
}

.navbar-icon1 img,
.navbar-icon2 img {
    width: 46px;
    height: 46px;
}

.navbar-logo img{
    height: 70px;
    width: 70px;
    background-color: white;
    background-size:inherit;
    border-radius:101%;
    border:none;
}

.navbar-categorias {
    width: 100% ;
    height: 55px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-cat {
    height: 100%;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    color: white;

}

    .navbar-cat ul {
        width: 100% !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
    }
    .navbar-cat ul li {
        margin-left:11.5vw;
        list-style: none;
        display: inline-flex;
        font-size: 35px;
        font-family: Impact;
    }
        .navbar-cat ul li a {
            color: white;
            text-decoration: none;
        }
.banner{
    border: hidden;
    opacity:50%;
    width:100%;
    height: 60vh;
    justify-content:center;
}
.d-grid {
    width: 90%;
    gap: 2rem;
    display: grid;
    margin: 3rem auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    border-radius: 17px;
}
.col {
    overflow: hidden;
    transition: transform 0.2s ease;
    margin-bottom: 5%;
    border: 1px solid lightgray;
    border-radius: 15px;
}
    .col:hover 
    {
        transform: translateY(-8px);
    }
.d-grid C{
    width: 120%;
    gap: 15%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50%;
    margin-top: 5%;
    border-radius: 15px;
    display: flex;
}
.colC {
    margin-left:30%;
    width: 20rem;
    margin-top: 2%;
    border: 0.1px solid lightgray;
    border-radius: 15px;
}
.control-label{
    margin-left: 0.5rem;
}
.form-control{
    border-radius: 10px;
    width: 12rem;
    border: 1px solid gray;
    margin-top: 2rem;
    margin-left: 2rem;
}
.d-grid F{
    width: 120%;
    gap: 15%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50%;
    margin-top: 5%;
    border-radius: 15px;
    display: flex;
}

.colF {
    margin-left: 30%;
    width: 20rem;
    margin-bottom: 5%;
    border: 0.1px solid lightgray;
    border-radius: 15px;
}

.form-group F{

}
.d-grid P{
    width: 120%;
    gap: 15%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40%;
    margin-top: 5%;
    border-radius: 15px;
    display: flex;
}

.colP {
    margin-top:0%;
    margin-left: 45%;
    width: 20rem;
    margin-bottom: 5%;
    border: 0.1px solid lightgray;
    border-radius: 15px;
}

.form-group P {
    height: 40%;
}

.card {
    position: relative;
    overflow: hidden; 
}
    .card p {
        margin: -1.5rem 4rem 5rem;
        font-size: 14px;
        text-align: center;

    }
.card-body {
    text-align:center;
    align-items:center;
    justify-content:space-between;
    padding:1rem;
    height:100%;
}
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.card-title {
    font-family: Impact;
    font-size: 30px;
    color: black;
    text-align:center;
    margin-top: 0.5rem;
}

.card-text {
    margin-bottom:5rem;
    font-family: Impact;
    font-size: 28px;
    color: darkred;
    text-align:center;
    font-weight:normal;
}

.lblq 
{
    color: darkgray;
    font-weight: 500;
    margin-right: 5px;
    margin-top: 5rem;
}
.form-controltd{
    border:1px solid 0;

    border-radius:5px;
    width:1.5rem;
}
.btn-primary {
    background-color: lightcoral;
    border: none;
    width: 100%;
    height: 35px;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    margin-top:2rem;
}

    .btn-primary:hover {
        background-color: #e35d5b;
    }
/*Carrinho*/
.cartTitle{
    text-align:center;
    font-size:200%;
    font-family: Impact;
    font-weight:500;
}
.vazio{
    text-align:center;
    font-size:110%;
}
.btnHome{
    margin-left:46%;
    text-decoration:none;
    color:darkred;
    background-color: white;
    border:none;
}
.btnHome2 {
    text-decoration: none;
    color: darkred;
    background-color: white;
}
.table{
    margin-top:2%;
    margin-left:39%;
}
.itensTable{
    width: 6vw;
    height:1vh;
    color:white;
    font-size:105%;
    background-color:darkred;
}
.NomeP {
    text-align:center;
    font-size: 75%;
    color:black;
}
.QtdP {
    border-radius:5px;
    text-align: center;
    font-size: 75%;
    border:none;
}