html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  max-height: 100%;
}
.card-img-top{
    width:32%;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.navbar-murph {
    background-color: darkred;
    display: flex;
    width: 100%!important;
    height: 10vh;
    justify-content: space-between; /* Aligns items horizontally in the center */
    align-items: center; /* Aligns items vertically in the center */
    /*TEM QUE USAR POSITION: FIXED NAS DIVS*/ 
    z-index: 1000;
    box-sizing: border-box;
}

.navbar-murph img{
    width:60px;
    height:60px;
    margin:30px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
}
.nav_btn {
    display: flex;
    margin-top: 1vw;
    row-gap: 1px;

    justify-content: right;

    width: 500vw;
    height: 130px;
}


.asearch-container {
    display: flex;
    align-items: center;
}

.search-icon {
    display: flex;
    width: 25px !important;
    height: 25px !important;
    margin-left: 20vw !important;
    position: absolute;
}

.busca {
    width: 450px;
    flex: 1;
    height: 50px; 
    border: none; 
    border-radius: 30px; 
    background-color: white; 
    color: #333; 
    font-size: 16px;
    outline: none;
    margin-right: 10%;
}
input{
    padding-left:15px;
}

.navbar-icon1 img,
.navbar-icon2 img {
    width: 46px;
    height: 46px;
}

.navbar-logo img{
    height: 70px;
    width: 70px;
    background-color: white;
    background-size:inherit;
    border-radius:101%;
    border:none;
}

.navbar-categorias {
    width: 100% ;
    height: 55px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-cat {
    height: 100%;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    color: white;

}

    .navbar-cat ul {
        width: 100% !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
    }
    .navbar-cat ul li {
        margin-left:11.5vw;
        list-style: none;
        display: inline-flex;
        font-size: 35px;
        font-family: Impact;
    }
        .navbar-cat ul li a {
            color: white;
            text-decoration: none;
        }
.banner{
    border: hidden;
    opacity:50%;
    width:100%;
    height: 60vh;
    justify-content:center;
}
.d-grid {

    width: 100%;
    gap:15%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-top: 5%;
    

    border-radius: 17px;
    display: flex;
}
.col {
    width:11.5%;
    margin-bottom: 5%;
    border: 0.1px solid lightgray;
    border-radius:15px;
}
.d-grid C{
    width: 120%;
    gap: 15%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50%;
    margin-top: 5%;
    border-radius: 15px;
    display: flex;
}
.colC {
    margin-left:30%;
    width: 55%;
    margin-bottom: 5%;
    border: 0.1px solid lightgray;
    border-radius: 15px;
}
.form-group C{

}
.d-grid F{
    width: 120%;
    gap: 15%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50%;
    margin-top: 5%;
    border-radius: 15px;
    display: flex;
}

.colF {
    margin-left: 30%;
    width: 55%;
    margin-bottom: 5%;
    border: 0.1px solid lightgray;
    border-radius: 15px;
}

.form-group F{

}
.d-grid P{
    width: 120%;
    gap: 15%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40%;
    margin-top: 5%;
    border-radius: 15px;
    display: flex;
}

.colP {
    margin-top:0%;
    margin-left: 45%;
    width: 40%;
    margin-bottom: 5%;
    border: 0.1px solid lightgray;
    border-radius: 15px;
}

.form-group P {
    height: 40%;
}

.card-img-top{
    width: 100%;
    border-radius:15px;
    
}
.card-title{
    margin-top: 2%;
    text-align: center;
    font-family:Impact;
    font-size: 20px;
    font-weight: 300;
    color: black;
}
.card-text {
    text-align: center;
    font-family: Impact;
    margin-top: -6%;
    font-weight:normal;
    font-style:normal;
    font-size: 140%;
    color: darkorange;
}
.card-textq {
    margin-left:6%;
    margin-top: 10%;
    font-weight: bold;
    color: dimgray;
}
.lblq {
    color: darkgray;
    margin-top: -15%;
    font-weight: 500;
    margin-left: 5%;
}
.form-control{
    margin-top: -10%;
    margin-bottom:10%;
    margin-left: 1%;
    border:thin;
    border-radius:15px;
    width: 25%;

}
.btn-primary {
    background-color: lightcoral;
    border: none;
    width:100%;
    height:30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
/*Carrinho*/
.cartTitle{
    text-align:center;
    font-size:200%;
    font-family: Impact;
    font-weight:500;
}
.vazio{
    text-align:center;
    font-size:110%;
}
.btnHome{
    margin-left:46%;
    text-decoration:none;
    color:darkred;
    background-color: white;
    border:none;
}
.btnHome2 {
    text-decoration: none;
    color: darkred;
    background-color: white;
}
.table{
    margin-top:2%;
    margin-left:39%;
}
.itensTable{
    width: 4vw;
    color:white;
    font-size:105%;
    background-color:darkred;
}
.NomeP {
    text-align:center;
    font-size: 75%;
    background-color: black;
    color:white;
}
.QtdP {
    border-radius:5px;
    text-align: center;
    font-size: 75%;
    border:none;
}